body{
  margin:0;
  font-family: monospace;
  padding-top: 100px;
}
.scroll {
margin: 5vh 0;
width: 100vw;
height: var(--height);
overflow: hidden;
mask-image: linear-gradient(
  to right,
  transparent,
  red 10% 90%,
  transparent
  
);
}
.scroll .brands-list{
display: flex;
width: 100%;
min-width: calc(var(--width) *var(--quantity));
position: relative;
}
.scroll .brands-list .item{
width: var(--width);
height: var(--height);
position: absolute;
left: 100%;
margin: 0 20px;
transition: 0.4s ;
animation: autoRun 40s linear infinite;
animation-delay: calc( (40s / var(--quantity))* (var(--position) - 1 ) ) !important;
}
.scroll:hover .item{
animation-play-state: paused !important;
filter: grayscale(1);

}
.scroll .item:hover{
filter:grayscale(0);

}
.scroll .brands-list .item img{
width: 100%;
margin: 0 20px;
}

@keyframes autoRun {
from{
  left: calc(var(--width)*-1);
}to{
  left: 100%;
} 
}

.scroll[reverse="true"] .item{
animation: reversePlay 40s linear infinite;
}

@keyframes reversePlay {
from{
  left: 100%;
}to{    
  left: calc(var(--width)*-1);
} 
}
.slider{
overflow: hidden;
width:100vw;
max-width: 1400px;
aspect-ratio: 21/9;
margin:auto;
position: relative;
margin-bottom: 20px;
}
.list{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 0.33s;

}
.list img{
  height: 100%;
  object-fit: cover;
}
.buttons{
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons button{
  width: clamp(28px,4vw,48px);
  height: clamp(28px,4vw,48px);
  border-radius: 50%;
  background-color: rgba(0,0,0,0.2);
  color: #fefefe;
  border: none;
  font-family: monospace;
  font-weight: bold;
  font-size: clamp(14px,2vw,24px);
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.buttons button:hover { 
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
.dots{
  position: absolute;
  bottom: 5px;
  color: rgba(255,2555,255,0.4) ;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.dots li{
  list-style-type: none;
  width: min(3vw,24px);
  height: min(3vw,24px);
  background-color: rgba(255,2555,255,0.4) ;
  margin: 0 1.6em;
  border-radius: 24px;
  transition: 0.54s;
}
.dots li:hover{
  background-color: #fefefe ;
  cursor: pointer;

}
.dots li.active {
  width:  min(9vw,72px);
  background-color: #fefefe ;


}
