.offers-banner{
  width:100vw;
  max-width: 1315px;
  aspect-ratio: 21/9;
  margin:auto;
  position: relative;
  margin-bottom: 20px;
}
.offers-banner img{
  height: 100%;
  object-fit: cover;
}
.offers-countdown{
  color: #21FF51;
  font-size: 4vw;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;
  position: absolute;
  bottom: 1.5px;
  right: 13%;
  -webkit-text-stroke: 0.01em #1e1e1e; /* Stroke width and color */

}

.product-offer-card {
  background-color: #1e1e1e;
  margin: 0 8px;
  border-radius: 0.33em;
  padding: 0.5em;
}
.product-container {
  display: flex;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.image-offer-wrapper img{
  width: 100%;
}
.image-offer-wrapper{
width: 100px;
position: relative;
overflow: hidden;
aspect-ratio: 1;
place-self: center;
text-align: center;
border-radius: 5px;
box-shadow:  0 0 8px 1px #ffe91f;
}

.image-offer-wrapper::before,
.image-offer-wrapper::after {
position: absolute;
z-index: 1;
inset: -0.96em;
border: solid 1.2em;
border-image: 
  conic-gradient(
    from var(--angle),
    transparent 79%,
    #ffe91f 86%, 
    #FFE921 93%, 
    #FFF7AB  100% 
  ) 1;
  filter: blur(.233em);
animation: spin .8s linear infinite;
content: '';
}
.image-offer-wrapper::after{
border-image: 
  conic-gradient(from calc(var(--angle) + 180deg),
  transparent 79%,
  #ffe91f 86%, 
  #FFE921 93%, 
  #FFF7AB  100% 
  ) 1;
}
@keyframes spin {
  from {
      --angle: 360deg;
  }
  to {
      --angle: 0deg;
  }
}

.product-info {
  flex:1 ;
  overflow: hidden;
  margin-left: 8px;
  
}
.product-info p, .product-pricing p {
  font-family: 'Inria Serif', sans-serif;
  margin: 8px 0 10px 0 ;
}
.producer-name, .producer-location {
  font-weight: bold;
  font-size: 15px;
  color: #f3f3f3;
}
.product-name, .product-type, .price-first,.price-second {
  font-weight: normal;
  font-size: 14px;
}
.product-name, .product-type{
  color: #f3f3f3;
}
.product-specs,.rrp {
  font-weight: bold;
  color: #cccccc;
  font-size: 13px;
}
.product-pricing {
  flex:0.64 ;
}
.product-pricing p {
  text-align: center;
}

.price-first, .price-second {
  color: #ffe91f;
  font-weight: bold;
  border-radius: 0.1rem;
  -webkit-text-stroke: 0.001em #1e1e1e; /* Stroke width and color */
}
.price-second{
  color:#1e1e1e;
  background-color: #ffe91f;
}

.quote-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4em 0;
  flex-wrap: nowrap; /* Ensure items stay in one line */
  
}
.quote-text {
  font: italic 500 14px 'Inria Serif', sans-serif;
  color: #fefefe;
  flex:2.5;
  padding-right: 1em;
}
.order-button {
  flex:1;
  text-align: center;
  box-shadow: 0 0 8px 1px #ffe91f;
  background-color:#ffe91f ;
}
.order-now {
  padding: 0.65em; /* Smaller padding for a smaller button */
  color: #1e1e1e;
  background-color: transparent;
  border: none;
  border-radius: 0.233rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font: 700 1rem 'Inria Serif', sans-serif;
}
.order-button:hover {
  box-shadow: 0 0 12px 4px #ffe91f;

}

.more-link {
  font-weight: bold;
  color: #ffe91f;
  text-decoration: none;
  -webkit-text-stroke: 0.001em #1e1e1e; /* Stroke width and color */
}

.more-link:hover {
  text-decoration: underline;
}
