.offers-banner{
  width:100vw;
  max-width: 1315px;
  aspect-ratio: 21/9;
  margin:auto;
  position: relative;
  margin-bottom: 20px;
} 
.offers-banner img{
  height: 100%;
  object-fit: cover;
}
.offers-countdown{
  color: hwb(133 12% 0%);
  font-size: max(17px,4vw);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: center;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 8%;
  -webkit-text-stroke: 0.01em hwb(133 12% 87%); /* Stroke width and color */
}
.white-text{
  color:hwb(54 87% 0%)
}
.product-offer-card {
  background-color: #1e1e1e;
  margin: 0 8px;
  border-radius: 0.33em;
  padding: 0.5em;
  box-shadow: 0 0.25em 0.4em rgba(0, 0, 0, 0.5), 0 0.065em 0.2em rgba(0, 0, 0, 0.3); /* Shadows */}
.product-container {
  display: flex;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.image-offer-wrapper img{
  width: 100%;
}
.image-offer-wrapper{
width: 100px;
position: relative;
overflow: hidden;
aspect-ratio: 1;
place-self: center;
text-align: center;
border-radius: 5px;
box-shadow:  0 0 0.4em 0.1em #ffe91f;
}
.image-offer-wrapper::before,
.image-offer-wrapper::after {
position: absolute;
border-radius: 5px;
z-index: 1;
inset: -1em;
border: solid 1.263em;
border-image: 
  conic-gradient(
    from var(--angle),
    hwb(54 12% 0%)  1%,
    transparent 40%  
) 1;
  filter: blur(.233em);
animation: spin .8s linear infinite;
content: '';
}
.image-offer-wrapper::after{
border-image: 
  conic-gradient(from calc(var(--angle) + 180deg),
  hwb(54 12% 0%)  1%,
  transparent 40%
) 1;
}
@keyframes spin {
  from {
      --angle: 360deg;
  }
  to {
      --angle: 0deg;
  }
}

.product-info {
  flex:1 ;
  overflow: hidden;
  margin-left: 8px;
  
}
.product-info p, .product-pricing p {
  font-family: 'Inria Serif', sans-serif;
  margin: 8px 0 10px 0 ;
  font-weight: bold;

}
.producer-name, .producer-location {
  font-size: 0.9rem;
  color: #f3f3f3;
  text-transform: uppercase;
}
.product-name, .product-type, .price-first,.price-second {
  font-size: 1.1rem;
}
.product-name, .product-type{
  color: #ffe91f;
  text-shadow: 0 0 0.08em #ffe91f;
}
.product-specs,.rrp {
  color: #cccccc;
  font-size: 0.9rem;
}
.product-pricing {
  flex:0.64 ;
}
.product-pricing p {
  text-align: center;
}

.price-first, .price-second {
  color: #ffe91f;
  text-shadow: 0 0 0.08em #ffe91f;
  font-weight: bold;
  border-radius: 0.1rem;
  -webkit-text-stroke: 0.001em #1e1e1e; /* Stroke width and color */
}

.quote-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.4em 0;
  flex-wrap: nowrap; /* Ensure items stay in one line */
  
}
.quote-text {
  font: italic 500 1rem 'Inria Serif', sans-serif;
  color: #fefefe;
  flex:2.5;
  padding-right: 1em;
}
.order-button {
  flex:1;
  text-align: center;
  box-shadow: 0 0 0.4em 0.1em #ffe91f;
  background-color:#ffe91f;
  transition: all 0.33s ease;
  border-radius: 0.12em;
}
.order-now {
  padding: 0.65em; /* Smaller padding for a smaller button */
  color: #1e1e1e;
  background-color: transparent;
  border: none;
  border-radius: 0.233rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font: 700 1.1rem 'Inria Serif', sans-serif;
  text-transform: uppercase;
}
.more-link {
  text-shadow: 0 0 0.08em #ffe91f;
  font-weight: bold;
  text-decoration: none;
  color: #ffe91f;
  -webkit-text-stroke: 0.001em #1e1e1e; /* Stroke width and color */
}
.image-offer-wrapper:hover,
.product-offer-card:hover,
.order-button:hover{
  box-shadow:  0 0 0.8em 0.2em #ffe91f;
}